[{
	"nickname": "wormhole",
	"server": "irc.example.com",
	"token": "your_slack_token",
        "autoSendCommands": [
        ["PRIVMSG", "NickServ", "IDENTIFY your_nickserv_password"]
        ],
	"channelMapping": {
		"#slack_channel": "#irc_channel"
	},
	"ircOptions": {
		"port": 6697,
		"debug": true,
		"password": "irc_server_password",
                "selfSigned": true,
                "sasl": true,
                "secure": true,
		"floodProtection": false
	}
}]